<div class="container text-center">
  <h1 class="fw-bold">Hello! <%= current_user.first_name %></h1>
  <h3>
    <% if current_user.subscription %>
      <h2 class="fw-bold">Subscribe: <i class="fa-solid fa-check" style="color: #00ff04;"></i></h2>
    <% else %>
      <h2 class="fw-bold">Subscribe: <i class="fa-solid fa-x" style="color: #ff4000;"></i></h2>
    <% end %>
  </h3>
</div>

<div class="container">
  <div class="card-user text-center justify-content-center">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :avatar, as: :file %>
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>



<hr style="border: 1px solid black;">
<div class="text-center">
  
  <div> <%= button_to "Cancel my account", registration_path(resource_name), class:"btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>
<hr style="border: 1px solid black;">
<%= link_to "Back", :back, class:"btn btn-primary mt-2"%>
