<%= form_with(model: income) do |form| %>
  <% if income.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>
      <ul>
        <% income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for [@income] do |f| %>
    <%= f.input :item_name %>
    <%= f.input :description %>
    <%= f.input :date, order: [:day, :month, :year], html5:true %>
    <%= f.input :amount %>
    <%= f.input :company_id %>
    <%= f.submit %>
  <% end %>
<% end %>
