<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">New Income</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body text-dark">
          <%= simple_form_for [@company, @income] do |f| %>
              <%= f.input :item_name %>
              <%= f.input :description %>
              <%= f.input :date, order: [:day, :month, :year], html5:true %>
              <%= f.input :amount %>
              <div class="text-center">
                <%= f.submit %>
              </div>
          <% end %>
        </div>
      <div class="modal-footer">
    </div>
  </div>
</div>
