<ul>
  <% @incomes.each do |income| %>
    <div class="d-flex justify-content-between p-2">
      <li><%= income.item_name %> <%= income.amount %></li>
      <%= link_to "Edit", edit_company_income_path(@company, income.id), class:"btn btn-danger" %>
      <%= link_to income_path(income), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</ul>
<%= link_to "Company", companies_path %>
<%= link_to "New income", new_company_income_path %>
