<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="banercito-the-rock">
        <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688990002/chartHOME_mybtjg.png" alt="flor">
      </div>
    </div>
    <div class="col-md-6 justify-center">
      <div class="banner">
        <h1>Rock Your Finances with GESTIONAME!</h1>
        <h3>Simplify the Art of Financial Management</h3>
        <%# <h4>TRACK YOUR EXPENSES AND INCOMES OF YOUR SMALL BUSINESS</h4> %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="banner2 d-flex justify-content-center">
    <div class="why-choose-text">
      <h1>Why choose GESTIONAME?</h1>
      <div class="text-center p-3 ml-5">
        <%= link_to "FREE TRIAL", new_user_registration_path, class:"btn btn-success btn-lg", data: { turbo_frame:
        "signup_modal" } %>
      </div>
    </div>


    <div class="card-category-banner">
      <h2>Make your small business grow now</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688687655/flor2_m2cjl4.png" alt="flor">
    </div>

    <div class="card-category-banner">
      <h2>Make it easy</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698595/easy_veb8hr.png" alt="circle">
    </div>

    <div class="card-category-banner">
      <h2>Track incomes & expenses</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698830/track_incomes_eqqxbz.png" alt="incomes">
    </div>
  </div>
</div>

<div class="banner-how-it-works" id="how-it-works">
  <div class="container">
    <div class="margin-right">

    </div>

    <div class="text-center" >
      <h1>It's simple</h1>
    </div>

      <h1>How it works</h1>
      <p>Empower Your Small Business Growth</p>

    <div class="text-center">
      <%= link_to "TRY IT NOW", new_user_registration_path, class:"btn btn-success btn-lg mt-5", data: { turbo_frame: "signup_modal" }%>
    </div>




  </div>

  <div class="container">
    <div class="d-flex justify-content-center container-cards"  >
      <div class="col-4 d-flex justify-content-around ">
        <div class="card-category-how-it-works">
          <div class="row text-center">
            <div class="col-7">
              <div class="icono-chico2 mb-3">
                <i class="fa-solid fa-money-bill"></i>
              </div>
              <h5 class="text-body-tertiary">Total Balance</h5>
              <div>
                <h3>$9.000</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-around mb-3">
        <div class="card-category-how-it-works">
          <div class="row">
            <div class="col-7">
              <div class="icono-chico2 mb-3">
                <i class="fa-solid fa-chart-simple font-awesome-icon"></i>
              </div>
              <h5 class="text-body-tertiary">Total Expense</h5>
              <div>
                <h3>$11.000</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-around mb-3">
        <div class="card-category-how-it-works">
          <div class="row">
            <div class="col-7">
              <div class="icono-chico2 mb-3">
                <i class="fa-solid fa-chart-line"></i>
              </div>
              <h5 class="text-body-tertiary">Total Income</h5>
              <div>
                <h3>$20.000</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="card-category-false-customer">


  </div>

<div class="banner-subscription d-flex justify-content-around">
    <div class="card-category-subscription">
      <div class="justify-content-center align-items-center">
        <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689100556/pandaSubs_jk36za.png" alt="trial-panda">
        <h1>Free Trial </h1>
        <h2>30 days</h2>
        <ul>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Manage unlimited companies</li>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Access all graphs</li>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Free Support</li>
        </ul>
          <%= link_to "Subscribe", "#", class: "btn btn-success btn-lg" %>
      </div>
    </div>

    <div class="card-category-subscription">
          <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689100556/pandaSubsBasic_e2wpbz.png" alt="basic-panda">
          <h1>Basic </h1>
          <h2>US$9/mo</h2>
          <ul>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Manage just one company</li>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Access to limited graphs</li>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Free Support</li>
          </ul>
          <%= link_to "Subscribe", "#", class: "btn btn-success btn-lg" %>
    </div>

    <div class="card-category-subscription">
        <div>
          <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689100556/pandaSubsPremium_czc4cz.png" alt="premium-panda">
          <h1>Premium </h1>
          <h2>US$12/mo</h2>
          <ul>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Manage unlimited companies</li>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Access to all the graphs</li>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Free Support</li>
        </div>
          <%= link_to "Subscribe", "#", class: "btn btn-success btn-lg" %>
    </div>
</div>
