<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="banercito-the-rock">
        <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688990002/chartHOME_mybtjg.png" alt="flor">
      </div>
    </div>
    <div class="col-md-6 justify-center">
      <div class="banner">
        <h1>Rock Your Finances with GESTIONAME!</h1>
        <h3>Simplify the Art of Financial Management</h3>
        <%# <h4>TRACK YOUR EXPENSES AND INCOMES OF YOUR SMALL BUSINESS</h4> %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="banner2 d-flex justify-content-center">
    <div class="why-choose-text">
      <h1>Why choose GESTIONAME?</h1>
      <div class="text-center p-3 ml-5">
        <%= link_to "FREE TRIAL", new_user_registration_path, class:"btn btn-success btn-lg", data: { turbo_frame:
        "signup_modal" } %>
      </div>
    </div>

    <div class="card-category-banner">
      <h2>Make your small business grow now</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688687655/flor2_m2cjl4.png" alt="flor">
      <p>Attracting success and achieving growth is no longer a distant dream for your small business. Introducing GESTIONAME, designed to transform the way you manage your finances.</p>
    </div>

    <div class="card-category-banner">
      <h2>Make it easy</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698595/easy_veb8hr.png" alt="circle">
      <p class="mt-4">Say goodbye to complicated spreadsheets and endless paperwork – with our intuitive tools, you'll unlock the key to unlocking your business's true potential.</p>
    </div>

    <div class="card-category-banner">
      <h2>Track incomes & expenses</h2>
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1688698830/track_incomes_eqqxbz.png" alt="incomes">
      <p>GESTIONAME is tailored specifically for small businesses, offering a comprehensive suite of features that will make your growth journey seamless and efficient.</p>
    </div>
  </div>
</div>

<div class="banner-how-it-works" id="how-it-works">
  <div class="container">
    <div class="margin-right">
  </div>
    <div class="text-center" >
      <h1>It's simple!</h1>
    </div>
      <h1>How it works</h1>
      <p>Empower Your Small Business Growth</p>
    <div class="text-center">
      <%= link_to "TRY IT NOW", new_user_registration_path, class:"btn btn-success btn-lg mt-5", data: { turbo_frame: "signup_modal" }%>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-between container-cards"  >
      <div class="mb-3 card-category-how-it-works">
        <div class="text-center">
          <div class="icono-chico2 mb-3">
            <i class="fa-solid fa-money-bill font-awesome-icon"></i>
          </div>
            <h5 class="text-body-tertiary">Total Balance</h5>
          <div>
            <h3>$9.000</h3>
          </div>
        </div>
      </div>

      <div class="mb-3 card-category-how-it-works">
        <div class="text-center">
          <div class="icono-chico2 mb-3">
            <i class="fa-solid fa-chart-simple font-awesome-icon"></i>
          </div>
            <h5 class="text-body-tertiary">Total Expense</h5>
          <div>
            <h3>$11.000</h3>
          </div>
        </div>
      </div>

      <div class="mb-3 card-category-how-it-works">
        <div class="text-center">
          <div class="icono-chico2 mb-3">
            <i class="fa-solid fa-chart-line font-awesome-icon"></i>
          </div>
            <h5 class="text-body-tertiary">Total Income</h5>
          <div>
            <h3>$20.000</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Carousel %>
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689295454/RTP0EiiH5_1256x620__2_tqtsdj.jpg" class="d-block w-100" alt="florist">
      <div class="carousel-caption d-none d-md-block transparent-bar">
        <h5>Nicola Costantino, florist</h5>
        <p>I recently discovered the magic of GESTIONAME, a digital financial app,
        Gone are the days of pen and paper, as GESTIONAME swept me into the digital era,
        With its simplicity and effectiveness, my business has bloomed and soared.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689284693/3be016b3-a43b-4086-ab7d-254fa0cfb565_hyuwdc.jpg" class="d-block w-" alt="two young entrepeneurs">
      <div class="carousel-caption d-none d-md-block">
        <h5>Carla and Richard</h5>
         <p>"We launched our business two years ago and GESTIONAME has been incredibly helpful in organizing our
          finances. We highly recommend it to new entrepreneurs who may not be familiar with technology because it's very easy to use."</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689296566/foto_de_marcos_exff2w.jpg" class="d-block w-100" alt="Artista Visual">
      <div class="carousel-caption d-none d-md-block">
        <h5>Marcos López, Artista Visual</h5>
        <p>To my fellow artists seeking financial solace and growth,
        Embrace GESTIONAME, and witness your creativity's oath.
        With its digital prowess and intuitive design,
        You'll unleash your potential and artistic visions will intertwine.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="banner-subscription-class" id="banner-subscription">
  <h3 class="text-center">Subscription plans</h3>
  <div class="d-flex justify-content-around">
    <div class="card-category-subscription">
      <div class="justify-content-center align-items-center">
        <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689100556/pandaSubs_jk36za.png" alt="trial-panda">
        <h1>Free Trial </h1>
        <h2>30 days</h2>
        <ul>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Manage unlimited companies</li>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Access all graphs</li>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Free Support</li>
        </ul>
          <%= link_to "Subscribe", "#", class: "btn btn-success btn-lg" %>
      </div>
    </div>

    <div class="card-category-subscription">
        <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689100556/pandaSubsBasic_e2wpbz.png" alt="basic-panda">
          <h1>Basic </h1>
          <h2>US$9/mo</h2>
        <ul>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Manage just one company</li>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Access to limited graphs</li>
          <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Free Support</li>
        </ul>
        <%= link_to "Subscribe", "#", class: "btn btn-success btn-lg" %>
    </div>

    <div class="card-category-subscription">
        <div>
          <img src="https://res.cloudinary.com/dfoznob7x/image/upload/v1689100556/pandaSubsPremium_czc4cz.png" alt="premium-panda">
          <h1>Premium </h1>
          <h2>US$12/mo</h2>
          <ul>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Manage unlimited companies</li>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Access to all the graphs</li>
            <li class="d-flex"><i class="fa-solid fa-check" style="color: #ffffff;"></i>Free Support</li>
        </div>
          <%= link_to "Subscribe", "#", class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
