<div class="container w-100" id="<%= dom_id company %>">

  <h1 class="font-title-dashboard2 fw-bold"><%= company.name_company %></h1>
    <%#= link_to "Edit company", edit_company_path(@company), class:"btn btn-primary" %>
    <!-- Button trigger modal -->
  <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Edit company
      </button>
    <div>
      <%= link_to "Delete this company", company_path(@company), class:"btn btn-danger", data:{turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
    </div>
  </div>
  <hr style="border: 1px solid grey;">
  <div class="text-center">
    <h3 class="font-title-dashboard3">"<%=company.description%>."</h2>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit company</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "form" %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

</div>
