<%= render @company %>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/af-2.5.3/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>


<div class="container">
  <div class="class row">
    <div class="col-4 mb-3">
      <div class="card-category">
        <div class="row">
          <div class="col-7">
            <div class="icono-chico mb-3">
              <i class="fa-solid fa-money-bill"></i>
            </div>
            <h5 class="text-body-tertiary">Total Balance</h5>
            <% if @total_amount < 0 %>
              <h3 class="text-danger fw-bold"><%= @total_amount %></h3>
            <% else %>
              <h3 class="text-success fw-bold"><%= @total_amount %></h3>
            <% end %>
            <h4>Balances</h4>
          </div>
          <div class="col-5 d-flex align-items-center justify-content-center">
            <h2>graph</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3">
      <div class="card-category">
        <div class="row">
          <div class="col-7">
            <div class="icono-chico mb-3">
              <i class="fa-solid fa-chart-simple"></i>
            </div>
            <h5 class="text-body-tertiary">Total Expense</h5>
            <h3 class="text-black fw-bold"><%= @expense_amount %></h3>
            <%= link_to "Add Expense", company_expenses_path(@company), class:"btn btn-primary" %>
          </div>
          <div class="col-5 d-flex align-items-center justify-content-center">
            <h2>graph</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-3">
      <div class="card-category">
        <div class="row">
          <div class="col-7">
            <div class="icono-chico mb-3">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <h5 class="text-body-tertiary">Total Income</h5>
            <h3 class="text-black fw-bold"><%= @incomes_amount %></h3>
            <%= link_to "Add Income", company_incomes_path(@company), class:"btn btn-primary" %>
          </div>
          <div class="col-5 d-flex align-items-center justify-content-center">
            <h2>graph</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% total_amount = 0 %>
  <% incomes_amount = 0 %>
  <% expense_amount = 0 %>


  <h2 class="fw-bold">Graphs</h2>

  <%# EN ESTE DIV DEBERIA IR GRAFICOS QUE IRÁ CAMBIANDO ??%>
  <div class="card-contenido">
    <%= pie_chart Expense.joins(:company).where(company_id: params[:id]).group(:item_name).sum("amount"), donut: true %>
    <%#= column_chart Expense.joins(:company).where(company_id: params[:id]).sum(:amount) %>
    <%#= bar_chart Expense.joins(:company).where(companies: {id: params[:id]}).sum(:amount) %>

  </div>

  <%# EN ESTE DIV DEBERIA IR TODO EL CONTENIDO QUE IRÁ CAMBIANDO ??%>
  <h2 class="fw-bold">Recent</h2>

<div class="data-table">
  <table class="table table-striped" id="example">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="filterable">Item Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <% @registers.sort_by(&:date).reverse.each do |register| %>
        <tr>
          <td class="filterable" data-search="<%= register.item_name %>"><%= register.item_name %></td>
          <td><%= register.amount %></td>
          <td><%= register.date %></td>
          <td><%= link_to '', expense_path(register), class: 'fa-sharp fa-solid fa-circle-info'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "Back to companies", companies_path, class:"btn btn-primary" %>
</div>
