<%= render @company %>


<div class="container">
  <div class="mb-5">
    <%= link_to "expenses", company_expenses_path(@company), class:"btn btn-primary" %>
    <%= link_to "incomes", company_incomes_path(@company), class:"btn btn-primary" %>
    <%= link_to "Edit company", edit_company_path(@company), class:"btn btn-primary" %>
  </div>

  <div>
    <%= link_to "Back to companies", companies_path, class:"btn btn-primary" %>
    <%= link_to "Delete this company", company_path(@company), class:"btn btn-danger", data:{turbo_method: :delete, turbo_confirmation: "Are you sure?", class:"btn btn-dangerous" }%>
  </div>
</div>
