<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="d-flex flex-column centrado">
        <h1>Payment Method</h1>
        <hr style="border: 1px solid black;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum voluptates illo, quia, provident necessitatibus ipsum corporis quod distinctio quisquam deleniti quasi, earum repellat? Suscipit officia soluta qui maxime illum.</p>
        <hr style="border: 1px solid black;">
          <%= link_to "See Plans", "seePlansBtn", class:"btn btn-primary" %>
      </div>
    </div>
    <div class="col-7">
      <div class="info-pago imagen">
        <%= image_tag("payment2.png", alt: "flor") %>
      </div>
    </div>
  </div>
  <div class="tarjetero">
    <div class="linea tarjetas-pago" id="trial">
      <div class="row">
        <div class="col-3">
          <%= image_tag("pandaSubs.png", alt: "flor", class:"fotos-tarjetas") %>
        </div>
        <div class="col-3 align-self-center">
            <div class="contenido-tarjetas">
              <h1 class="titulos-tarjetas text-black fw-bold">Trial</h1>
            </div>
        </div>
        <div class="col-3 align-self-center">
            <ul class="contenido-tarjetas unordered-list">
              <li>Full Access</li>
              <li>Extra Graphs</li>
              <li>Multiple Companies</li>
              <li>Just For Two Weeks</li>
            </ul>
        </div>
        <div class="col-3 align-self-end">
          <p class="price d-flex flex-column">
            <span>Price: Free</span>
            <span class="text-secondary tm침o">PER 2 WEEKS</span>
            <%= link_to "Get Now!", "/", class:"btn btn-danger botones-get" %>
          </p>
        </div>
      </div>
    </div>
    <div class="linea tarjetas-pago" id="trial2">
      <div class="row">
        <div class="col-3">
          <%= image_tag("pandaSubsBasic.png", alt: "flor", class:"fotos-tarjetas") %>
        </div>
        <div class="col-3 align-self-center">
            <div class="contenido-tarjetas">
              <h1 class="titulos-tarjetas text-black fw-bold">Basic</h1>
            </div>
        </div>
        <div class="col-3 align-self-center">
            <ul class="contenido-tarjetas unordered-list">
              <li>Restricted Access</li>
              <li>No Graph</li>
              <li>Just One Company</li>
            </ul>
        </div>
        <div class="col-3 align-self-end">
          <p class="price d-flex flex-column">
            <span>Price: Free</span>
            <%= link_to "Get Now!", "/", class:"btn btn-danger botones-get" %>
          </p>
        </div>
      </div>
    </div>
    <div class="linea tarjetas-pago mb-5" id="trial3">
      <div class="row">
        <div class="col-3">
          <%= image_tag("pandaSubsPremium.png", alt: "flor", class:"fotos-tarjetas") %>
        </div>
        <div class="col-3 align-self-center">
            <div class="contenido-tarjetas">
              <h1 class="titulos-tarjetas text-black fw-bold">Premium</h1>
            </div>
        </div>
        <div class="col-3 align-self-center">
            <ul class="contenido-tarjetas unordered-list">
              <li>Full Access</li>
              <li>Extra Graphs</li>
              <li>Infinite Companies</li>
            </ul>
        </div>
        <div class="col-3 align-self-end">
          <p class="price d-flex flex-column">
            <span>Price: $15</span>
            <span class="text-secondary tm침o">PER MONTH</span>
            <%= link_to "Get Now!", "/", class:"btn btn-danger botones-get" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var seePlansBtn = document.querySelector('.btn-primary');
    var tarjetasPago = document.querySelectorAll('.tarjetero');

    seePlansBtn.addEventListener('click', function(e) {
      e.preventDefault();

      // Obtener la posici칩n del contenedor de las tarjetas de pago
      var tarjetasOffset = document.getElementById('trial').offsetTop;

      // Hacer scroll hacia la posici칩n del contenedor
      window.scrollTo({
        top: tarjetasOffset,
        behavior: 'smooth'
      });
    });
  });
</script>
