<%= simple_form_for [@company, @expense] do |f| %>
  <div class="container d-flex justify-content-center ">
    <div class=" m-3 p-3 border shadow-lg w-50">
      <form class="form ">
          <span class="signup mt-3">Income</span>
            <%= f.input :item_name %>
            <%= f.input :description %>
            <%= f.input :date, order: [:day, :month, :year], html5:true %>
            <%= f.input :amount %>
            <%= f.label "expense category" %>
            <div>
            <%= f.select :expense_type_id, ExpenseType.where(company_id: @company.id).map { |et| [et.expense_category, et.id] } %>
            </div>
            <div class="text-center">
              <%= f.submit class: 'btn btn-primary'%>
            </div>
      </form>
    </div>
  </div>
<% end %>
