<%= simple_form_for [@company, @expense] do |f| %>
    <%= f.input :item_name %>
    <%= f.input :description %>
    <%= f.input :date, order: [:day, :month, :year], html5:true %>
    <%= f.input :amount %>
    <%#= f.select :expense_type_id, ExpenseType.where(company_id: @company.id).map{|services| services.expense_category}%>
    <%= f.label "expense category" %>
    <div>
    <%= f.select :expense_type_id, ExpenseType.where(company_id: @company.id).map { |et| [et.expense_category, et.id] } %>
    </div>

    <%#= f.association :expense %>

    <%= f.submit %>
<% end %>
