<div class="container">
  <h2 class="fw-bold mt-3">Expenses Details</h2>
  <div class="data-table">
      <table class="table table-striped table-bordered" id="example">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="filterable">Item Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td class="filterable" data-search="<%= expense.item_name %>"><%= expense.item_name %></td>
              <td>$ <%= expense.amount %></td>
              <td><%= expense.date %></td>
              <td><%= link_to "Edit", edit_company_expense_path(@company, expense.id), class:"btn btn-danger" %>
              <%= link_to expense_path(expense), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <%= link_to "Back", company_path(@company), class:"btn btn-primary" %>
  <%= link_to "New Expense", new_company_expense_path, class:"btn btn-success" %>
  <%= link_to "Create Expense Category", new_company_expense_type_path, class:"btn btn-success"%>
  </div>
</div>

<script>
  $(document).ready(function() {
  var table = $('#example').DataTable({
    "order": [[0, "asc"]],
    "columnDefs": [
      {
        "targets": 'filterable',
        "searchable": true,
        "orderable": true
      }
    ],
    "pagingType": "full_numbers",
    "pageLength": 5,
    "lengthMenu": [5, 10, 25, 50],
    "language": {
      "search": "Filter:"
    }
  });

  table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');

  $("#searchBtn").on("click", function() {
    table.draw();
  });
});
</script>
