
<%= @expense.item_name %>
<h2 class="fw-bold">Details</h2>



<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Item_name</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= @expense.item_name %></td>
          <td><%= @expense.amount %></td>
          <td><%= @expense.date %></td>
          <td><%= @expense.description %></td>
          <td>
            <div class="">
            </div>
          </td>
        </tr>
      </tbody>
    </table>




<%= link_to "Back to companies", company_path(current_user), class:"btn btn-primary" %>

</div>
